<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taxchina.autotest.crmnew.dao.mapper.LoginCaseResMapper">

    <insert id="setLoginCaseRes" parameterType="com.taxchina.autotest.crmnew.dao.entity.LoginCaseRes">

        INSERT INTO login_case_res (login_case_id,login_result,cookie) VALUES (#{caseId},#{result},#{cookie})

    </insert>



</mapper>